// device width
$pcWid: 1024px;
$tbWid: 768px;

//fonts
$font: 'Arial',
'Microsoft JhengHei',
sans-serif;

//colors
$primary: #00BFA5;
$accent: #294442;
$accent_50: rgba(41, 68, 66, 0.5);
$accent_0: rgba(41, 68, 66, 0);
$warn: #DDB97D;
$black: #000;
$white: #FFF;
$gray1: #B7B7B7;
$gray2: #CCCCCC;
$gray3: #EFEFEF;
